[Unit]
Description=Update SSH Tunnel SSH Key if `edgesec-deploy-key.pub` is in your home directory.
After=network.target

ConditionPathExists=/home/ubuntu/edgesec-deploy-key.pem

[Service]

Type=oneshot

ExecStart=/usr/local/lib/nqm-ssh-tunnel/install.bash /home/ubuntu/edgesec-deploy-key.pem
# deletes the deploy key
ExecStart=/bin/rm /home/ubuntu/edgesec-deploy-key.pem

[Install]
# stop sshtunnel.service if this fails
RequiredBy=sshtunnel.service
